.main-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 5rem;
    background-color: #a3d2ca;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
}

.header__logo{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}
.header__optionLineOne {
    font-size: 10px;
}

.header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
}

.header__optionBasket {
    display: flex;
    align-items: center;
    color: black;
}

.header__basketCount {
    margin-left: 10px;
    margin-right: 10px;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
}